.navbar {
  background-color: rgba(1, 121, 97, 0.582);
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: 80px;

  .navbar-logo {
    img {
      margin-top: 10px;
      height: 60px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-right: 20px;

    &.open {
      font-size: 30px;
    }
  }

  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    .navbar-item {
      margin-right: 20px;
      position: relative;

      a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        transition: background-color 0.3s;

        &:hover {
          background-color: #d1d099;
          color: black;
        }
      }

      .icon{
        font-size: 30px;
        cursor: pointer;
      }

      .counter{
        width: 15px;
        height: 15px;
        background-color: red;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        top: -5px;
        right: -5px;
      }

      &.avatar {
        cursor: pointer;

        img {
          height: 40px;
          width: 40px;
          object-fit: cover;
          border-radius: 50%;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.1);
          }
        }

        .dropdown {
          position: absolute;
          top: 100%;
          right: 0;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          overflow: hidden;

          a {
            display: block;
            padding: 10px 20px;
            color: #333;
            text-decoration: none;
            font-size: 16px;

            &:hover {
              background-color: #f1f1f1;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }

    .navbar-list {
      display: none;
      position: absolute;
      top: 80px;
      right: 0;
      width: 250px;
      background-color: #017960;
      flex-direction: column;
      align-items: center;

      .navbar-item {
        width: 100%;
        text-align: center;

        a {
          width: 100%;
        }
      }
    }

    .navbar-list.active {
      display: flex;
    }

    .navbar-item.avatar .dropdown {
      top: auto;
      right: 0;
      width: 100PX;
    }
  }
}
