.addcampaigns {
    display: flex;
   
    .addcontainer {
      background-color: white;
      height: 100vh;
      width: 100%;
      flex-direction: column; 
      flex:1;
      display: flex;
      align-items: center;
      .top {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
  
        h1 {
          font-size: 20px;
          font-weight: bold;
          color: #007B5F;
        }
      }
  
      .bottom {
        align-items: center;
        overflow-y: auto;
        flex:2;
        flex-direction: column;
        .items {
          display: flex;
          flex-direction: column;
          gap: 30px;
          border: 1px solid #ccc;
          padding: 20px;
          width: 100vh;
          border-radius: 5px;
  
          form {
            display: flex;
            flex-direction: column;
            gap: 15px;
  
            .formInput {
              display: flex;
              flex-direction: column;
              gap: 5px;
  
              label {
                font-weight: bold;
                color:#007B5F;
                display: flex;
                .icon{
                  cursor: pointer;
                }
              }
  
              input {
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 1rem;
              }
  
              .icon {
                margin-left: 5px;
                font-size: 18px;
                color: #333;
              }
            }
  
            a{
              background-color:#007B5F;
              color: #fff;
              padding: 10px 20px;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s ease;
              align-self: center;
  
              &:hover {
                background-color: #59eecb;
              }
            }
            button {
          background-color: #007B5F;
          color: #fff;
          padding: 14px 20px;
          border: none;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          text-transform: uppercase;
          transition: background-color 0.3s ease;

          &:hover {
            background-color:  #189678;
          }
            }
          }
        }
      }
    }
  };