$gray-light: #f5f5f5;
$green-primary: #007B5F;
$white: #fff;
.transactions{
    display: flex;
    overflow: hidden;
    .transactionsContainer{
      background-color: white;
      height: 100vh;
      flex-direction: column; 
      flex:1;
      display: flex;
      padding-left: 14px;
        .top {
          text-align: center;
          padding: 5px; 
    
          h1 {
            color:#007B5F;
            font-size: 20px;
            margin-right: 850px;
          }
        } 
        .bottom{
        margin-top: 20px;
        .searchbar {
          margin-bottom: 20px;
          width: 100%;
          display: flex;
          text-align: left;
          
          input {
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;
            transition: border-color 0.3s;
  
            &:focus {
              outline: none;
              border-color: #1976d2;
            }
          }
        }
  
 .table {
  
  max-height: 400px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   overflow-y: auto; /* Enable scrolling for the table */
   .tablell {
    font-size: 15px;
    font-weight: bold;
    background-color: $green-primary;
    color: $white;
    text-align: center;
    position: sticky; /* Fix the header to the top */
    top: 0; /* Position it at the top */
    z-index: 1; /* Ensure it's on top of other elements */
  }

  tbody {
    tr {
      background-color: $gray-light;
      &:nth-child(even) {
        background-color: $white; // Alternate row colors
      }
      &:hover {
        background-color: rgba(0, 123, 95, 0.1); // Hover effect on rows
      }
    }
  }
    
    }
}
}
}