.login-container {
    display: flex;
    // justify-content: center;
    // align-items: center;
    height: 100vh;
    width: 100%;
   
  }
  .image-login{
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F7e%2Fec%2F7d%2F7eec7dfe0214eafac4e51b863473d8c9.jpg&f=1&nofb=1&ipt=83b599a0cfe282e244f9aad2e1d756e54341560a861e1158a4f1377c806afbfc&ipo=images'); /* Replace with your background image */
    background-size: cover;
    flex: 1;
  }
  
  .login-form {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
  }
  
  .logo {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .logo img {
    max-width: 50px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .green-button {
    background-color: #017960; /* Green */
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .green-button:hover {
    background-color: #033305; /* Darker green on hover */
  }
  
  .account-link {
    text-align: center;
    margin-top: 15px;
  }

.forgot-password {
    text-align: center;
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: #007bff; /* Blue color for the link */
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }