$gray-light: #f5f5f5;
$green-primary: #007B5F;
$white: #fff;
.campaigns{
    display: flex;
    overflow: hidden;
    .campaignsContainer{
      height: 100vh;
      width: 100%;
      flex-direction: column; 
      flex:1;
      padding-left: 14px; 
      .top{
        text-align: center;
        padding: 5px;
        h1{
          font-size: 20px;
        color: #007B5F;  
        }
      }
        .bottom{
        margin-top: 20px;
}
.table{
  max-height: 400px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto; 
}
  .tableCell{
    text-align: center;
  }
  .cellWrapper {
    display: flex;
    align-items: center;
    border-bottom: 15px;
    .image {
      width: 70px;
      height: 70px;
      margin-right: 10px;
      object-fit: cover;
      border-radius: 20px;
      }
    }
    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Active {
        background-color: #4CAF50; /* Green for Approved */
  color: white;
      }
      &.Pending {
        background-color: #FFC107; /* Yellow for Pending */
  color: black;
      }
      &.Closed{
        background-color: #F44336; /* Red for Rejected */
  color: white;
      }
    }
    .tablell {
      font-size: 15px;
      font-weight: bold;
      background-color: $green-primary;
      color: $white;
      text-align: center;
      position: sticky; /* Fix the header to the top */
      top: 0; /* Position it at the top */
      z-index: 1; /* Ensure it's on top of other elements */
    }
    tbody {
      tr {
        background-color: $gray-light;
        &:nth-child(even) {
          background-color: $white; // Alternate row colors
          text-align: center;
          overflow-y: auto;      
          }
          &:hover {
            background-color: rgba(0, 123, 95, 0.1); // Hover effect on rows
          }
      
        }

    }
    
    
      
}
}
