.track-donation-page {
    background-color: #f9f9f9;
    margin-top: 80px;
  
    .track-donation-content {
      max-width: 1000px;
      margin: auto;
      margin-top: 20px;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      h1 {
        text-align: center;
        color: #017960;
        margin-bottom: 20px;
      }
  
      .donation-table {
        width: 100%;
        border-collapse: collapse;
  
        th,
        td {
          padding: 10px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
  
        th {
          background-color: #017960;
          color: #fff;
        }
  
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
        .vp-btn{
          background-color: #017960;
          color: #fff;
          padding: 5px 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
        }
      }
    }
  }
  