.lid{
    height: 170vh;
    width:100%;
    position: absolute;
    .des{
        width: 600px;
        position:absolute;
        z-index: 999;
        color: aliceblue;
        top: 20px;
        text-align: center;
        margin-left: 350px;
    }
    .des h1{
        font-size:46px;
        position: relative;
        text-align: center;
    }
    .des p{
        font-size: 22px;
        position: relative;
    }
    .bot{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:300px;
        color: #007B5F;
    }
    .bot span{
        width: 45px;
        height: 12px;
        background-color: #007B5F;
        margin-left: 10px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 3px ,2px,2px rgba(73,72,72,0.338);
    }
    .transparent{
      width: 100%;
      height: 50vh;
      position: absolute;
      z-index:"998";
      top:0;
      left:0;
      background-image:linear-gradient(to top,rgba(255,0,0,0),#007B5F);
    }
      .lidContainer{
            /* Basic Styling */
            width: 90%; /* Adjust width as needed */
            margin: 50px auto; /* Center the container */
            padding: 30px; 
            background-color:whitesmoke; /* Light background color */
            border-radius: 10px; /* Rounded corners */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center; /* Center the heading */

            /* Animation - Customize for your desired slider effect */
            /* Example: Fade-in animation */
            animation: fadeIn 1s ease-in-out;
            
    .lg {
      img {
        height: 90px; // Adjust logo height as needed
      }
    }
            h1{
              color: #007B5F; /* Darker text color for contrast */
              margin-bottom: 20px;
              
          }
        
        
            h2{
            color: #007B5F; /* Darker text color for contrast */
            margin-bottom: 20px;
            
        }
        @keyframes fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
      }
      


}