.navbar {
    height:50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color:#007B5F;
    font-weight: bolder;
    .wrapper {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo{
        display: flex;
        align-items: center;
        color: white;
       font-size: 50px;
        padding: 3px;
      }
      .items {
        display: flex;
        align-items: center;
        position: relative;
        color:white;
        .item {
          display: flex;
          align-items: center;
          margin-right: 20px;
          position: relative;
  
          .icon {
            font-size: 20px;
          }
  
          .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
    }
}
}
  