.footer {
    background-color: #504d4d2a;
    padding: 30px 20px;
    color: #333;
    width: 100%;
  
    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    .footer-column {
      flex: 1;
      margin-bottom: 30px;
      .fame {
        img {
          height: 60px; // Adjust logo height as needed
        }
      }
  
      h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 5px;
  
          a {
            color: #333;
            text-decoration: none;
            transition: color 0.3s ease;
  
            &:hover {
              color: #007bff; /* Example hover color */
            }
          }
        }
      }
    }
  
    .copyright {
      text-align: center;
      font-size: 20px;
      color: #007B5F;
    }
  }
  
  /* Responsive Layout - Example for smaller screens */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
  
    .footer-column {
      margin-bottom: 20px;
    }
  }