.donate-page {
  background-color: #f9f9f9;
  margin-top: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3%;

  .donate-content {
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
      background-color: #017960; /* Green background for the ribbon */
      color: #fff; /* White text */
      padding: 0.5rem 1rem; /* Adjust padding for the ribbon */
      margin-bottom: 20px;
      border-radius: 5px; /* Rounded corners for the ribbon */
      font-size: 1.5rem; /* Adjust font size */
      font-weight: 500;
      text-align: center;
    }

    label {
      color: #3e3c3cc5; /* A lighter gray for the heading and label text */
      font-weight: 400; /* Slightly lighter weight for a softer look */
      font-size: 1rem; 
    }
    h2{
      color: #017960;
      font-weight: 600;
      font-size: 1.2rem;
    }

    .program-details,
    .donation-details,
    .payment-methods,
    .additional-options {
      margin: 20px 0;
    }

    select,
    input {
      padding: 10px;
      width: 100%;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 0.9rem; 
      color: #444; /* A darker gray for better contrast in input fields */
    }

    .amount-options {
      display: flex;
      gap: 5px;
      margin: 5px 0;

      button,
      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 0.9rem;
        color: #555; /* A lighter gray for text */
      }

      button {
        background-color: #017960;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #014f40;
        }
      }

      input {
        width: 100px;
      }
    }

    .mobile-money,
    .card-details {
      margin-top: 20px;
    }

    button {
      background-color: #017960;
      color: #fff;
      padding: 15px 30px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 1rem; 

      &:hover {
        background-color: #014f40;
      }
    }

    .success-message {
      margin-top: 20px;
      padding: 20px;
      background-color: #e6f7e6;
      border: 1px solid #c6e6c6;
      border-radius: 5px;
      color: #333;
      text-align: center;

      h2 {
        margin-bottom: 10px;
        color: #017960;
      }
    }
  }
}