.add {
    width: 100vw;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
  }
  
  .modal {
    padding: 50px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    position: relative;
    max-width: 500px; 
    width: 90%; 
  }
  
  .modal h1 {
    margin-bottom: 40px;
    font-size: 24px;
    color: #333; 
    text-align: center; 
  }
  
  .modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px; 
    cursor: pointer;
    color: #333; 
  }
  
  .modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .modal form .item {
    width: 48%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .modal form .item label {
    font-size: 14px;
    font-weight: bold; 
  }
  
  .modal form .item input {
    padding: 10px;
    background-color: #f8f8f8; 
    color: #333; 
    outline: none;
    border: 1px solid #ccc; 
    border-radius: 3px;
  }
  
  .modal form button {
    width: 100%;
    padding: 10px;
    background-color: #017960; 
    color: #fff; 
    border: none; 
    border-radius: 3px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .modal form button:hover {
    background-color: #005a44; 
  }