.menu{
    
    .item{
        display: flex;
        flex-direction: column;
        gap:10px;
        margin-bottom: 20px;
        .title{
            font-size: 11px;
            font-weight: 400;
            color:rgb(150, 146, 146)
        }
       
        .listItem{
            display: flex;
            align-items: center;
            gap:10px;
            padding: 10px; 
            text-decoration: none;
        &:hover{
            background-color: #ebfaf7;
            color:'white';
            border-radius: 5px;
            border: none;
        } 
        &:focus{
            background-color: #ebfaf7;
            color:'white';
            border-radius: 5px;
            border: none;
        }     
        
        }
        .listItemTitle{
            text-decoration: none;
            color: black;
        }
    }
   
    
}


