.donations {
  display: flex;
  overflow: hidden;
  .donationsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-left: 14px;  
    .top {
      text-align: center;
      padding: 5px;

      h1 {
        font-size: 20px;
        font-weight: 700;
        color: #333;
        margin-right: 900px;
      }
    }

    .bottom {
      margin-top: 20px;
    }

      .searchbar {
        margin-bottom: 20px;
        
        input {
          width: 50%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1rem;
          transition: border-color 0.3s;

          &:focus {
            outline: none;
            border-color: #1976d2;
          }
        }
      }

      .table {
        max-height: 400px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
       border-radius: 8px;
        overflow-y: auto; 
        table {
          width: 100%;
          border-collapse: collapse;
          min-width: 800px; // Ensures proper table spacing when content is small

          th, td {
            padding: 14px;
            text-align: left;
            font-size: 14px;
            white-space: nowrap;
          }

          th {
            background-color: #007b5f;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            position: sticky; // Make header sticky on scroll
            top: 0;
            z-index: 1;
            width: 100%;
          }

          td {
            border-bottom: 5px solid #e0e0e0;
            color: #333;

            &:first-child {
              font-weight: 600;
            }
          }

          tbody tr {
            &:nth-child(even) {
              background-color: #f9f9f9;
            }

            &:hover {
              background-color: #e0f7fa;
            }
          }
        }
      }

      .tableCell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .status {
        padding: 7px;
        border-radius: 16px;
        font-size: 0.875rem;
        font-weight: 600;
        text-transform: capitalize;

        &.processed {
          background-color: #4ce90e;
          color: #3c763d;
        }

        &.unpaid {
          background-color: #f2dede;
          color: #a94442;
        }

        &.pending {
          background-color: #fcf8e3;
          color: #8a6d3b;
        }
      }
    }
  }

