.featured-container{
 .featured-header{
  text-align: center;
  padding: 3rem;
  h1{
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
  }
 p{
  font-size: 1rem;
  font-weight: 500;
  padding-inline: 2rem;
  color: rgba(0, 0, 0, 0.587);
 }
 }
.featured-campaigns{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 5rem;
  padding-bottom: 3rem;
}
.featured-campaign{
  flex: 1;
  margin-left: 5px;
  position: relative;
  img{
    width: 100%;
    &:hover{
      opacity: 0.8;
    }
  }
  .featured-intel{
    position: absolute;
    top: 30%;
    left: 30%;
    display: inside;
    &:hover{
      display: outside;
    }

    h1{
      font-size: 1.4rem;
      text-transform: capitalize;
      color: white;
      font-weight: 700;
  
    }
    button{
      border-radius: 5px;
      width: 120px;
      padding: 0.8rem;
      border: none;
      font-weight: 700;
      color: white;
      margin-left: 1.5rem;
      background-color:#f97316;
    }
  }
  
  
}
}